<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>File Link</title>
  </head>
  <body>
    <h1>File Link</h1>
    <p>
      Secure encrypted file sharing website built in
      <a href="https://expressjs.com/" target="_blank">expressjs</a> .
    </p>
  </body>
</html>
