<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>File Link > <%= locals.filename %></title>
  </head>
  <body>
    <% if(locals.error) { %>
    <h1>Incorrect password !!</h1>
    <% } %>

    <form method="POST">
      <label for="password">
        Enter the password to download the file. <%= locals.filename %></label
      >
      <input
        type="password"
        name="password"
        id="password"
        placeholder="Enter the password"
      />
      <button type="submit">Download</button>
    </form>

    <a href="/">Go back to homepage</a>
  </body>
</html>
