<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Password</title>
    <link rel="stylesheet" href="/css/password.css" />
  </head>
  <body>
    <div id="container">
      <!-- checking if theres an error -->
      <% if(locals.error){ %>
      <div id="password-message">Incorrect password !</div>
      <% } %>

      <form method="POST">
        <label for="password" id="password-desc"
          >Enter the password to download the file.</label
        >
        <input
          type="password"
          id="password"
          name="password"
          placeholder="Enter the password"
          required
        />
        <button type="submit">Download</button>
      </form>
      <a href="/" id="back-link">Go back</a>
    </div>
  </body>
</html>
