<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/password.css" />
    <title>File Link > <%= locals.filename %></title>
  </head>
  <body>
    <div id="container">
      <% if(locals.error) { %>
      <h1 id="incorrect-password">Incorrect password ! Try again !!</h1>
      <% } %>

      <form method="POST">
        <label for="password">
          Enter the password to download the file. <%= locals.filename %></label
        >
        <input
          type="password"
          name="password"
          id="password"
          placeholder="Enter the password"
        />
        <button type="submit">Download</button>
      </form>

      <a href="/" id="back-link">Go back to homepage</a>
    </div>
  </body>
</html>
