* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: poppins;
  src: url("../font/Poppins-Regular.ttf");
}

body {
  font-family: poppins;
}

#container {
  width: 80%;
  max-width: 2560px;
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: center;
  align-items: center;
}

#title {
  margin: 30px 0px 10px 0px;
}

#desc {
  margin-bottom: 20px;
}

hr {
  width: 100%;
  margin-bottom: 20px;
}

#file-link-message {
  text-align: center;
  margin-bottom: 20px;
  background-color: #9dde8b;
  padding: 10px 30px;
  border-radius: 7px;
}

form {
  display: flex;
  flex-direction: column;
  background-color: #eeeeee;
  border: 1px solid #eeeeee;
  padding: 20px 30px;
  border-radius: 7px;
}

label {
  margin-bottom: 5px;
}

input[type="file"] {
  margin-bottom: 20px;
  font-size: 16px;
}

input[type="password"] {
  padding: 10px 20px;
  margin-bottom: 20px;
  border: 1px solid #000;
  border-radius: 7px;
  font-size: 16px;
}

button {
  padding: 10px 20px;
  border-radius: 7px;
  border: 1px solid #3fa2f6;
  background-color: #3fa2f6;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  transition: 0.2s ease-in-out;
}

button:hover {
  cursor: pointer;
  border: 1px solid #009fbd;
  background-color: #009fbd;
  letter-spacing: 1px;
}
